* {
    margin: 0;
    padding: 0;
}
.container {
    min-width: 470px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #999;
    background: #eee;
}
.container:after {
    display: block;
    clear: both;
    content: ' ';
}
.team-logo {
    float: left;
    box-sizing: border-box;
    width: 200px;
    padding: 20px;
    outline: 1px solid #999;
    background: #fff;
}
.team-logo img {
    float: left;
    width: 80px;
    height: 80px;
    outline: 1px solid #999;
    background: #eee;
}
.team-logo h2 {
    font-size: 1em;
    margin: 0 auto;
    text-align: center;
}
main {
    min-width: 70px;
    margin: 0 140px 0 220px;
    padding: 20px;
    outline: 1px solid #999;
    background: #fff;
}
main p {
    font-size: .8em;
    margin-bottom: 10px;
}
main .member-intrduction h2 {
    font-size: 1em;
    margin: 10px 0;
}
main .member-intrduction h3 {
    font-size: .9em;
    margin: 5px 0;
}
aside {
    float: right;
    box-sizing: border-box;
    width: 120px;
    padding: 20px;
    outline: 1px solid #999;
    background: #fff;
}
aside ul {
    list-style: none;
}
aside ul li {
    margin-bottom: 20px;
}
aside ul li:last-child {
    margin-bottom: 0;
}
aside li img {
    width: 80px;
    height: 80px;
    outline: 1px solid #999;
    background: #eee;
}